@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --color-primary-main: rgb(221, 170, 2);
  --color-primary-light: rgb(255, 224, 120);
  --color-primary-pale: rgb(254, 246, 222);
}

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;  
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.main{
max-width: 1280px; 
margin: auto;
width: 100%;

}
.layout{
  padding: 10px;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}
.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: var(--color-primary-main);
}
.marquee {
  position: relative;
  height: 500px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

 span.text-red {
    -webkit-text-stroke: 1px var(--color-primary-main);
    margin-left: 6px;
}
.logo{
  color: gray;
  font-size: 18px;

}
.basket-button{
  font-size: 25px;
  color: gray;
  position: relative;
  border: none;
  background-color: transparent;
}

.basket-item-quantity{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: var(--color-primary-main);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}
.product-preview-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
}

.product-preview-card {
  cursor: pointer;
  transition: transform 0.5s ease;
  color: #324d67;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.product-image-container {
  overflow: hidden;
  border-radius: 16px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  background-color: #ebebeb;
  cursor: pointer;

}

.product-image, .product-preview-card-image {
  width: 400px;
  height: 400px;
  padding: 32px;
  transition: all 0.5s ease;
  transition: .3s ease-in-out;
}

.product-image:hover{
  transform: scale(1.05);
  background-color: var(--color-primary-pale);
}

.product-name{
  font-weight: 500;
}
.product-price{
  font-weight: 800;
  color: black;
}

.hero-banner-container{
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 100%;

}
.hero-banner-container .beats-solo{
  font-size: 20px;
}
.hero-banner-container button{
   border-radius: 15px;
  padding: 10px 16px;
  background-color: var(--color-primary-main);
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  z-index:10000 !important;
}

.hero-banner-container h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1{
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image{
  position: absolute;
  top: 0%;
  right:0%;
  width: 450px;
  height: 450px;
}


.desc{
position: absolute;
right: 10%;
bottom: 5%;
width: 300px;
line-height: 1.3;
display: flex;
flex-direction: column;
 color: #324d67;

}
.desc p{
  color: #5f5f5f;
  font-weight: 100;
text-align: end;
}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.best-products-heading{
  text-align: center;
  margin: 40px 0px;
 color: #324d67;

}
.best-products-heading h2{
  font-size: 40px;
  font-weight: 800;
}
.best-products-heading p{
  font-size: 16px;
  font-weight: 200;
}
.footer-banner-container{
  padding: 100px 40px;
  background-color: var(--color-primary-main);
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc{
  display: flex ;
  justify-content: space-between;
}
.banner-desc button{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: var(--color-primary-main);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
}
.banner-desc .left h3{
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p{
  margin:18px;
}

.footer-banner-image-container {
  position: absolute;
  top: -20%;
  right: 32%;
}



/* .footer-banner-image{
  position: absolute;
  top: -35%;
  left: 8%;
  top: -25%;
  left: 25%;
} */
.banner-desc .right{
  line-height: 1.4;
}
.banner-desc .right h3{
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p{
  font-size: 18px;
}
.banner-desc .right .company-desc{
  font-size: 14px;
  font-weight: 300;
}
.basket-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}
.basket-container{
  position: relative;
  height: 100vh;
  width: 560px;
  background-color: white;
  float: right;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-container{
  color: #324d67;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

}
.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
}
 .basket-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.basket-heading .heading{
  margin-left: 10px;
}
.basket-num-items{
  margin-left: 10px;
  color: var(--color-primary-main);
}
.empty-basket{
  margin:40px;
  text-align:center;
}
.empty-basket h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}

.basket-product {
  display: flex;
  gap: 16px;
}

.basket-product-image-container {
  max-width: 120px;
  background-color: #ebebeb;
  border-radius: 16px;
}

.basket-product-image{
  width: 100%;
  display: block;
}

.basket-product-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  color: #324d67;
}

.basket-product-data, .basket-product-data-top, .basket-product-data-bottom {
  display: flex;
  justify-content: space-between;
}

.basket-product-data h5{
  font-size: 20px;
}
.basket-product-data h4{
  font-size: 20px;
  align-self: center;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: red;
  cursor: pointer;
  background: transparent;
  border: none;
}
.basket-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
width: 100%;
padding: 30px 65px;

}

.btn-container{
  width: 400px;
  margin: auto;
}
.btn{
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: var(--color-primary-main);
  color: #fff;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover{
  transform: scale(1.1,1.1);
}
.product-container{
  display: flex;
 gap: 40px;
 margin: 40px;
 margin-top: 60px;
 color: #324d67;

}

.product-images-container {
  flex-grow: 1;
}

.preview-images-container{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.preview-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image{
  background-color: var(--color-primary-light);
}
.reviews{
  color: var(--color-primary-main);
  display: flex;
  gap: 5px;
  align-items: center;
}


.reviews p{
  color: #324d67;
  margin-top: 0px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-feature-list {
  margin-top: 8px;
  list-style-position: inside;
}

.product-details .price{
  font-weight: 700 ;
  font-size: 26px;
  color:var(--color-primary-main);
}
.price .old-price, .product-price .old-price, .price .old-price{
  color: gray;
  text-decoration: line-through;
}
.product-details .quantity{
  display: flex;
  gap: 20px;
  align-items: center;
}


.product-actions {
  display: flex;
  gap: 16px;
}

.product-actions button {
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

@media (max-width: 960px) {
  .product-actions {
    flex-direction: column;
  }
}

.product-actions .add-to-basket{
  border: 1px solid var(--color-primary-main) ;
  background-color: white;
  color: var(--color-primary-main);
}
.product-actions .add-to-basket:hover{
  background-color: var(--color-primary-main);
  color: white;
}
.product-actions .buy-now{
  background-color: var(--color-primary-main);
  color: white;
  border: 2px solid white;
}
.product-actions .buy-now:hover{
  background-color: white;
  color: var(--color-primary-main);
  border-color: var(--color-primary-main);
}

.quantity-adjustor{
  display: flex;
  align-items: center;
}

.quantity-adjustor button {
  width: 5ch;
  height: 5ch;
}

.quantity-adjustor span{
  text-align: center;
  width: 4ch;
  font-size: 20px;
  
}
.quantity-adjustor .minus{
  color: red;
}

.quantity-adjustor .plus{
  color: rgb(4, 208, 4);

}

.suggested-products-wrapper h2{
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}
.suggested-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-quantity{
  font-weight: 500;
  color: var(--color-primary-main);
}
.success-wrapper, .cancel-wrapper{
  background-color: white;
  min-height: 60vh;

}
.success, .cancel{
  width: 1000px;
margin: auto;
margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: green;
   font-size: 40px;
}
.success h2{
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color:#324d67;
}
.success .email-msg{
   font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p{
  font-size: 20px;
  font-weight: 600;
}
.success .description{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email{
  margin-left: 5px;
  color: var(--color-primary-main);
}
.product-max-quantity{
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .hero-banner-container{
    height: 560px;
  }
  .hero-banner-image{
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }
  .footer-banner-container{
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image-container {
    top: 0%;
    right: 0%;
    left: 45%;
  }
  .banner-desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container{
    line-height: 1.3;
  }
  .hero-banner-container h1{
    font-size: 50px;
  }
 .hero-banner-container h3{
    font-size: 40px;
  }
  .hero-banner-container button{
    margin-top: 90px;
    z-index: 10000;
  }
  .desc{
   bottom: 60px;
  }
  .product-container{
    flex-wrap: wrap;
    }
  .product-container .product-image{
    width: 350px;
    height: 350px;
  }
  .basket-container{
    width: 100%;
  }
  .basket-heading{
    margin-top: 35px;
  }
  .product-container{
    margin-top: 10px;
  }
  .product{
    padding: 20px 5px;

  }
  .product-container{
    margin: 20px;
  }

.basket-product-data .flex{
  width: 200px;
}
.top{
  flex-wrap: wrap;
  gap: 10px;


}
.basket-product-data .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
.basket-bottom{
  padding: 30px;
}

.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}